table, th, td {
    border: 1px solid #fff;
    border-collapse: collapse;
}

table {
    table-layout: fixed;
    width: 300px;
   }

th, td {
    padding: 12px;
}

th {
  background: #03A9F4;
  /* border-radius: 0px; */
  color: #fff;
}

th:not(.currentMonth) {
  cursor: pointer;

}

tr.dateLine > td:hover {
  background: #eee;
}

.currentMonth {
  text-transform: uppercase;
}

.dayWithEvent {
  background: #d0f0ff; 
}
